<!doctype html>
<html lang="en">

<head>
    <title>Edit Professional</title>
</head>

<body>
    {% extends 'base.html' %}

    {% block content %}
    <div class="container mt-4">
        <h2>Edit Professional</h2>
        <form method="POST" action="{{ url_for('edit_professional', id=professional['id']) }}" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.username.label(class="form-label") }}<br>
                {{ form.username(class="form-control", placeholder="Enter your EmailID(username)") }}
            </div>
            <div class="form-group">
                {{ form.password.label(class="form-label") }}<br>
                {{ form.password(class="form-control", placeholder="Enter your password") }}
            </div>
            <div class="form-group">
                {{ form.fullname.label(class="form-label") }}<br>
                {{ form.fullname(class="form-control", placeholder="Enter your fullname") }}
            </div>
            <div class="form-group">
                {{ form.servicename.label(class="form-label") }}<br>
                {{ form.servicename(class="form-control", placeholder="Select servicename") }}
            </div>
            <div class="form-group">
                {{ form.experience.label(class="form-label") }}<br>
                {{ form.experience(class="form-control", placeholder="Enter your experience") }}
            </div>
            <div class="form-group">
                {{ form.fileUpload.label(class="form-label") }}<br>
                {{ form.fileUpload(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.description.label(class="form-label") }}<br>
                {{ form.description(class="form-control", placeholder="Enter your address") }}
            </div>
            <div class="form-group">
                {{ form.pincode.label(class="form-label") }}<br>
                {{ form.pincode(class="form-control", placeholder="Enter your pincode") }}
            </div>
            {{ form.submit(class="btn btn-primary") }}
        </form>
    </div>
    {% endblock %}
</body>

</html>