<!doctype html>
<html lang="en">

<head>
    <title>Edit Service</title>
</head>

<body>
    {% extends 'admin/admin_dashboard.html' %}
    {% block content %}
    <h3>Edit Service</h3>
    <form method="POST" action="{{ url_for('edit_service', id=service['id']) }}">
        {{ form.hidden_tag() }}
        
        <!-- Service Name Field -->
        <div class="form-group">
            {{ form.name.label(class="form-label") }}<br>
            {{ form.name(class="form-control", placeholder="Enter the name of the service", value=service['name']) }}
        </div>

        <!-- Service Price Field -->
        <div class="form-group">
            {{ form.price.label(class="form-label") }}<br>
            {{ form.price(class="form-control", placeholder="Enter the price of the service", value=service['price']) }}
        </div>

        <!-- Service Description Field -->
        <div class="form-group">
            {{ form.description.label(class="form-label") }}<br>
            {{ form.description(class="form-control", placeholder="Enter the description of the service", value=service['description']) }}
        </div>

        <!-- Submit Button -->
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Update Service</button>
        </div>
    </form>
    {% endblock %}

</body>

</html>