{% extends 'base.html' %}

{% block content %}
<h2>Professional Details</h2>
<table class="table">
    <tr>
        <th>ID</th>
        <td>{{ professional[0] }}</td>
    </tr>
    <tr>
        <th>Username</th>
        <td>{{ professional[1] }}</td>
    </tr>
    <tr>
        <th>Fullname</th>
        <td>{{ professional[2] }}</td>
    </tr>
    <tr>
        <th>Description</th>
        <td>{{ professional[3] }}</td>
    </tr>
    <tr>
        <th>Service Name</th>
        <td>{{ professional[4] }}</td>
    </tr>
    <tr>
        <th>Experience</th>
        <td>{{ professional[5] }}</td>
    </tr>
    <tr>
        <th>Pincode</th>
        <td>{{ professional[6] }}</td>
    </tr>
</table>

<a href="{{ url_for('admin_dashboard') }}" class="btn btn-secondary">Back to Dashboard</a>
{% endblock %}
